.login-form{
  display: flex;
  justify-content: center;
}
/* login-page */
.login-btn{
  padding-top: 2rem;
}
.password-txt{
  padding-top: 1.5rem;
}
.logo{
  width: 4rem;
  height:4rem;
}
.user-table{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;

}
.heading{
  background-color: rgb(37, 37, 95);
  
}
